@page "/players"
@using TerminiWeb.Infrastructure.PlayerService.Dtos
@using GrabaUIPackage.Components.Common

@if (_players == null)
{
	<LoadIndicator />
}
else
{
	<div class="mb-3 d-flex justify-content-end">
		<button class="btn-moj" @onclick="@CreateNewPlayer">
			<i class="fas fa-plus me-2"></i>Add New
		</button>
	</div>


	<DataGrid TItem="PlayerDto"
			  Items="@_players"
			  Sortable="true"
			  PageSizeOptions="@_pageSizeOptions"
			  PageNumber="@_pageNumber"
			  PageSize="@_pageSize"
			  Filterable="true"
			  FilterModel="@_filterModel"
			  OnSearch="@FilteredSearch"
			  RowSelectionIdentifierProperty="Id"
			  EnableRowSelection="true">
		<GridColumn TItem="PlayerDto" Property="Name" Caption="Name" Sortable="false" Filterable="true" FilterModelProperty="Name" />
		<GridColumn TItem="PlayerDto" Property="Surname" Caption="Surname" Sortable="false" Filterable="true" FilterModelProperty="Surname" />
		<GridColumn TItem="PlayerDto" Property="FullName" Caption="Full Name" Sortable="true" Filterable="true" FilterModelProperty="FullName" />
		<GridColumn TItem="PlayerDto" Property="Rating" Caption="Player rating" Sortable="true" Filterable="true" FilterModelProperty="PlayerRating"></GridColumn>
		<GridColumn TItem="PlayerDto" Sortable="false" Alignment="GrabaUIPackage.Components.Common.Enumerators.AlignOption.Right">
			<Template Context="player">
				<ContextMenu>
					<ContextMenuItem Text="Edit" OnClick="async () => await EditPlayer(player)" />
					<ContextMenuItem Text="Delete" OnClick="async () => await DeletePlayer(player)" />
					<ContextMenuItem Text="View" OnClick="async () => await ViewPlayer(player)" />
				</ContextMenu>
			</Template>
		</GridColumn>
	</DataGrid>
}